html,
body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}
div {
width: 100px;
}
.container{
width: 100%;
height: 100px;
}
.bok {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkred;
    width: 25%;
    height: 900%;
    float: left;
}
.cont,
.ones,
.glav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    text-align:center;
}
.uslg{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-align: center;
    color: firebrick;
    display: block;
    padding: 0px;
    width: 95%;
    border-style:double;
    border-radius: 30px;
    color:black;
    overflow: hidden;
    background-color:#E2725B;
    text-overflow: ellipsis;
}